# Local configuration file
local.properties

# Build Files #
bin/
target/
build/
.gradle/

# IntelliJ IDEA Files
.idea

# VS Code #
.vscode

# Python cache
__pycache__
*.pyc

# Operating System Files
**/.DS_Store
**/Thumbs.db
