[versions]
kotlinVersion = "1.9.20"
jUnitVersion = "5.10.0"

[libraries]
kotlin-stdlib-jdk8 = { module = "org.jetbrains.kotlin:kotlin-stdlib-jdk8", version.ref = "kotlinVersion" }
junitJupiterEngine =  { module = "org.junit.jupiter:junit-jupiter-engine", version.ref = "jUnitVersion" }
junitJupiterParams =  { module = "org.junit.jupiter:junit-jupiter-params", version.ref = "jUnitVersion" }
koTest =  "io.kotest:kotest-runner-junit5:5.7.2"
kluent = "org.amshove.kluent:kluent:1.73"
mockk = "io.mockk:mockk:1.13.7"
kotlin-compiler = { module = "org.jetbrains.kotlin:kotlin-compiler", version.ref = "kotlinVersion" }

[bundles]

[plugins]
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlinVersion" }
kotlin-plugin-spring = { id = "org.jetbrains.kotlin.plugin.spring", version.ref = "kotlinVersion" }
kotlin-plugin-jpa = { id = "org.jetbrains.kotlin.plugin.jpa", version.ref = "kotlinVersion" }
dokka = "org.jetbrains.dokka:1.9.10"
spotless = "com.diffplug.spotless:6.21.0"
testLogger = "com.adarshr.test-logger:4.0.0"
detekt = "io.gitlab.arturbosch.detekt:1.23.3"
