# Operating System Files

*.DS_Store
Thumbs.db
*~
.#*
#*
*#

# Build Files #

bin
target
build/
.gradle

# Eclipse Project Files #

.classpath
.project
.settings
.attach_pid*

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# VS Code #
.vscode/

# Spring Bootstrap artifacts

dependency-reduced-pom.xml

mem*.db

README.html
