name: Check Snippet kttxt Snippets

on:
  pull_request:
      types: [ opened, synchronize ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  get-github-context:
    name: Get Branches And Changed Files
    runs-on: ubuntu-latest

    steps:
      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v7

      - name: List Branches
        run: |
          echo current branch: ${{ steps.branch-name.outputs.current_branch }}
          echo base ref branch branch: ${{ steps.branch-name.outputs.base_ref_branch }}
          echo default branch: ${{ steps.branch-name.outputs.default_branch }}

      - name: Get Changed Files
        id: changed-files
        uses: tj-actions/changed-files@v39.2.4

      - name: Echo List Changed Files
        run: |
          echo Changed files: 
          echo ${{ steps.changed-files.outputs.all_changed_files }} | tr ' ' '\n'

      - name: Echo Run Condition (any true to run)
        run: |
          echo Current branch starts with "release/": ${{ startsWith(steps.branch-name.outputs.current_branch, 'release/') }}
          echo Base ref branch is "main": ${{ steps.branch-name.outputs.base_ref_branch == 'main' }}
          echo Changed .kttxt files: ${{  contains(steps.changed-files.outputs.all_changed_files, '.kttxt') }}

    outputs:
      current_branch: ${{ steps.branch-name.outputs.current_branch }}
      base_ref_branch: ${{ steps.branch-name.outputs.base_ref_branch }}
      all_changed_files: ${{ steps.changed-files.outputs.all_changed_files }}

  check-kttxt-snippets:
    name: Check kttxt Snippets
    runs-on: ubuntu-latest
    needs: get-github-context
    if: |
      startsWith(needs.get-github-context.outputs.current_branch, 'release/') ||
      needs.get-github-context.outputs.base_ref_branch == 'main' ||
      contains(needs.get-github-context.outputs.all_changed_files, '.kttxt')
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 19
          distribution: 'zulu'

      - name: Get Changed Snippets
        id: changed-snippets-names
        env:
          CHANGED_FILES: ${{ needs.get-github-context.outputs.all_changed_files }}
        run: |
          read -r -a files_array <<< "${{ env.CHANGED_FILES }}"
          
          changed_file_names=""
          
          for path in "${files_array[@]}"; do
            filename="${path##*/}"
            if [[ "$filename" == *.kttxt ]]; then
              changed_file_names="$changed_file_names $filename"
            fi
          done
          
          echo "names=$changed_file_names" >> "$GITHUB_OUTPUT"


      - name: Check kttxt Snippets
        env:
          CHANGED_FILES_NAMES: ${{ steps.changed-snippets-names.outputs.names }}
        run:
          python3 scripts/check_kttxt_snippets.py ${{ env.CHANGED_FILES_NAMES }}
